* {
	padding: 0;
	margin:  0;
	border-collapse: collapse;
}

img, table, tr, td {
	border: 0;
	border-spacing: 0;
}

table, tr, td {
	vertical-align: top;
}

img, input[type="image"] {
	vertical-align: middle;
}

body {
	background: white;     /* Стандартный цвет фона   */
	color: #434645;          /* Стандартный цвет текста */
	min-width: 1200px;      /* 2 x ширина левой колонки + ширина правой колонки */
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	margin: 0 7px 0 0
}

a {
	color: #434645;
	text-decoration: none;           /* Стандартный цвет ссылок */
}

a:hover {
	text-decoration: underline;
}

#container {
	padding-left: 250px;   /* ширина левой колонки  */
	padding-right: 270px;  /* ширина правой колонки */
}

#container .column {
	float: left;
	position: relative;
}

#center {
	width: 100%;
}

#left {
	margin-left: -100%;
	right: 250px;          /* ширина левой колонки  */
	width: 250px;          /* ширина левой колонки  */
}

#right {
	margin-right: -270px;  /* ширина правой колонки */
	width: 270px;          /* ширина правой колонки */
}

#footer {
	clear: both;
	margin: 0 0 40px 50px;
}

* html #left {           /* костыль для IE 6      */
	left: 270px;           /* ширина правой колонки */
}

.nobr {
	white-space: nowrap;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

table.goods {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

table.goods thead td {
	font-weight: bold;
}

table.goods tr td {
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}

table.goods tr:nth-child(even) {
	background: rgba(200, 200, 200, 0.1);
}

/*Шапка*/

.logo-img {
	float: left;
}


.phone {
	display: inline-block;
	margin: 5px 0 0 5px;
	vertical-align: top;
}

.phone-number {
	padding: 0 32px 0 10px;
	font-size: 14px;
}

.login-form {
	display: inline-block;
	margin: 10px 0 0 0;
	width: 160px;
}

.login-input {
	border: 1px solid black;
	border-radius: 7px;
	height: 20px;
	padding: 0 0 0 4px;
	margin: 0 0 2px 0;
	width: 141px;
}

.login-password {
	width: 109px;
}

.login-button {

	background: #00ceff;
	background: linear-gradient(to bottom, #00ceff, #b8e6ff);
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	width: 32px;
	height: 22px;
	font-size: 11px;
	margin: 0 0 0 2px;
	cursor: pointer;
}

.login-button:hover {background: #b8e6ff;
	background: linear-gradient(to bottom, #b8e6ff, #00ceff);}

	.login-links {
		margin-top: -5px;
	}

	.login-links a {
		font-size: 10px;
	}

	.login-links a:hover {
		text-decoration: underline;
	}

	.basket {
		border: 1px solid black;
		border-radius: 7px;
		display: inline-block;
		margin: 10px 0 0 0;
		padding-left: 4px;
		height: 57px;
		width: 135px;
		vertical-align: top;
	}

	.basket a {
		font-size: 13px;
		line-height: 4.5;
	}

	.header-top-right {
		display: inline-block;
		float: right;
	}

	.menu-up {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		/*display: inline-block;*/
		background: #050505;
		background: linear-gradient(to right, #050505 0%, #6e6e6e 50%, #6e6e6e 50%, #050505 100%);
		height: 32px;
		margin: 5px 0 0 0;
		clear: right;
		padding-left: 258px;
	}

	.menu-up a {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: inline-block;
		color: white;
		font-weight: bold;
		width: 12.5%;
		padding: 6px 10px;
		font-size: 14px;
		vertical-align: top;
		white-space: nowrap;
		text-align: center;

	}

	.menu-up-active {
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		color: #434645 !important;
		background: #050505;
		background: linear-gradient(to bottom, #f4f2f7, #a8aeba);
		height: 32px;
	}

	.marquee {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid black;
		border-radius: 5px;
		margin: 5px 0 5px 260px;
		font-size: 13px;
		padding: 4px 0;
		height: 28px;
	}

	/*Левая колонка*/

	.cat-menu {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 212px;
		margin: 60px 50px 45px 25px;
	}

	.cat-header  {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: block;
		background: #00ceff;
		background: linear-gradient(to bottom, #00ceff, #b8e6ff);
		border-radius: 7px;
		color: white;
		font-weight: bold;
		height: 32px;
		text-shadow: 1px 1px 1px gray;
		line-height: 2;
		text-align: center;
		cursor: pointer;

	}

	.cat-links a {
		display: block;
		padding-top: 12px;
		font-size: 14px;
		cursor: pointer;
	}

	.filters-menu {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 212px;
		margin: 0 50px 19px 25px;
	}

	.filters-links {
		margin: 17px 0 0 0;
	}

	.filters-links p {
		font-size: 14px;
		padding: 5px 0;
	}

	.filter-name {
		display: block;
		font-size: 15px;
		padding: 0 0 16px 0;
	}


	.line-dashed {
		border-bottom: 1px dashed #012550;
		height: 2px;
		margin: 10px 15px;
	}


	.recommend-menu {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 212px;
		margin: 0 50px 45px 25px;
	}

	.recommend-text {
		text-align: justify;
		padding: 11px 10px 0 10px;
		font-size: 12px;
	}

	.show-all {
		background: #e1e1e3;
		background: linear-gradient(to bottom, #e1e1e3 0%, #ebedf1 25%, #e1e3e7 50%, #bbbfc9 75%, #a9acb9 100%);
		border-radius: 7px;
		border: none;
		display: block;
		width: 172px;
		text-align: center;
		height: 21px;
		cursor: pointer;
		margin: 10px auto;
	}

	.show-all:hover {
		background: #a9acb9;
		background: linear-gradient(to bottom, #a9acb9 0%, #bbbfc9 25%, #e1e3e7 50%, #ebedf1 75%, #e1e1e3 100%);
	}

	/*Правая колонка*/

	.search-form {
		margin: 5px 0 30px 5px;
		width: 265px;
	}

	.search-input {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 188px;
		height: 23px;
		padding: 5px 0 5px 13px;
		border: 1px solid gray;
		border-radius: 5px;
	}

	.search-submit {
		background: #e1e1e3;
		background: linear-gradient(to bottom, #e1e1e3 0%, #ebedf1 25%, #e1e3e7 50%, #bbbfc9 75%, #a9acb9 100%);
		cursor: pointer;
		height: 23px;
		border: none;
		border-radius: 5px;
		padding: 0 10px;
		margin: 0 0 0 2px;
	}

	.search-submit:hover {
		background: #a9acb9;
		background: linear-gradient(to bottom, #a9acb9 0%, #bbbfc9 25%, #e1e3e7 50%, #ebedf1 75%, #e1e1e3 100%);
	}

	.compare-menu {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 212px;
		margin: 0 28px 0 25px;
	}

	.compare-menu img {
		display: block;
		margin: 10px auto;
	}

	.articles-menu {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 212px;
		margin: 0 35px 0 25px;
	}
	.article-text {
		text-align: justify;
		padding: 5px 20px 25px 30px;
		font-size: 12px;
	}

	.article-header {
		font-size: 13px;
		line-height: 2;
		padding: 20px 0 0 10px;
	}

	/*Футер*/

	.soc-networks {
		display: inline-block;
		float: left;
	}

	.soc-networks img {
		padding: 0 3px;
	}

	.footer-text {
		text-align: center;
		font-size: 14px;
	}


	.chat {
		background: #050505;
		background: linear-gradient(to right, #050505 0%, #6e6e6e 50%, #6e6e6e 50%, #050505 100%);
		display: inline-block;
		position: fixed;
		z-index: 100;
		color: white;
		bottom: 0;
		right: 400px;
		height: 28px;
		width: 140px;
		font-size: 13px;
		text-align: center;
		line-height: 2;
	}

	.chat:hover {
		background: #6e6e6e;
		background: linear-gradient(to right, #6e6e6e 0%, #050505 50%, #050505 50%, #6e6e6e 100%);
	}

	.connect {
		background: #00ceff;
		background: linear-gradient(to bottom, #00ceff, #b8e6ff);
		display: inline-block;
		position: fixed;
		z-index: 100;
		color: white;
		bottom: 0;
		right: 250px;
		height: 28px;
		width: 140px;
		font-size: 13px;
		text-align: center;
		line-height: 2;
	}

	.connect:hover {
		background: #b8e6ff;
		background: linear-gradient(to top, #00ceff, #b8e6ff);
	}

	.help-phone {
		padding: 2px;
	}

	/*Центр*/

	.banner {
		display: block;
		margin: 0 auto;
	}

	.menu-center {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		background: #050505;
		background: linear-gradient(to bottom, #f4f2f7, #a8aeba);
		display: block;
		height: 32px;
		margin: 5px auto;
		padding: 0 50px;
		width: 90%;
	}

	.menu-center a {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: inline-block;
		color: #434645;
		font-weight: bold;
		width: 25%;
		padding: 6px 0;
		font-size: 14px;
		vertical-align: top;
		white-space: nowrap !important;
		text-align: center;

	}

	.menu-center-active {
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		color: white !important;
		background: #050505;
		background: linear-gradient(to right, #050505 0%, #6e6e6e 50%, #6e6e6e 50%, #050505 100%);
		height: 32px;
	}

	.goods-block {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid black;
		border-radius: 5px;
		display: inline-block;
		height: 335px;
		width: 220px;
		text-align: center;
		padding: 10px;
		margin: 6px 2px;
		vertical-align: top;
	}

	.goods-block img {
		display: block;
		margin: 7px auto;
	}

	.center-content {
		margin: 20px 0;
		text-align: center;
	}

	.btn-normal {
		background: #e1e1e3;
		background: linear-gradient(to bottom, #e1e1e3 0%, #ebedf1 25%, #e1e3e7 50%, #bbbfc9 75%, #a9acb9 100%);
		border-radius: 7px;
		border: none;
		display: block;
		width: 132px;
		height: 21px;
		cursor: pointer;
		margin: 5px auto;
	}

	.btn-normal:hover {
		background: #a9acb9;
		background: linear-gradient(to bottom, #a9acb9 0%, #bbbfc9 25%, #e1e3e7 50%, #ebedf1 75%, #e1e1e3 100%);
	}

	.goods-block p {
		text-align: left;
		font-size: 13px;
		line-height: 1.8;
	}

	.goods-quantity {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 30px;
		height: 25px;
		text-align: center;
	}

	.center-text {
		margin: 55px;
		text-align: justify;
		font-size: 13px;
		line-height: 1.3;
	}

/*Каталог
*/

.page-nav-left {
	font-size: 12px;
	display: inline-block;
	margin: 5px 0 0 20px;
}

.page-view {
	float: right;
	display: inline-block;
	font-size: 12px;
	margin: 5px 40px 0 0
}

.change-viewmode {
	cursor: pointer;
}

.pages {
	line-height: 2;
	text-align: right;
	margin: 0 40px 0 0;
}

.pages a {
	font-size: 13px;
}

.arrow:hover {
	text-decoration: none;
}

.page-active {
	color: red !important;
	font-size: 16px;
}

/*Каталог категорий*/

.logout-form {
	display: inline-block;
	margin: 30px 0 30px 0;
	width: 180px;
	font-size: 13px;
}

.username {
	color: red;
}

.logout-button {
	background: #00ceff;
	background: linear-gradient(to bottom, #00ceff, #b8e6ff);
	color: white;
	border-radius: 5px;
	border: none;
	text-align: center;
	width: 40px;
	height: 22px;
	font-size: 11px;
	margin: 0 0 0 2px;
	cursor: pointer;
}

.logout-button:hover {background: #b8e6ff;
	background: linear-gradient(to bottom, #b8e6ff, #00ceff);}

	.private-menu {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 212px;
		margin: 30px 50px 25px 25px;
	}

	.recommend-menu-2 {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 212px;
		margin: 45px 50px 45px 25px;
	}

	.cats-block {
		width: 245px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid black;
		border-radius: 5px;
		display: inline-block;
		height: 270px;
		text-align: center;
		padding: 10px 0;
		margin: 6px 2px;
		vertical-align: top;
	}

	.cats-block-img {
		vertical-align: middle;
	}

	/*Контакты*/

	.contacts-table {
		width: 100%;
		margin: 30px 40px;
		text-align: left;
	}

	.contacts-header {
		font-size: 15px;
		line-height: 2;
	}

	.contacts-td1 {
		font-size: 13px;
		line-height: 2;
		width: 40%;
	}

	.contacts-td2 {
		font-size: 13px;
		line-height: 2;
		width: 60%;
	}

	.cont-input {
		border: 1px solid black;
		border-radius: 4px;
		height: 20px;
		margin: 1px 0 0 6px;
		width: 200px;
	}

	.leave-question-area {
		border: 1px solid black;
		border-radius: 4px;
		height: 220px;
		margin: 3px 0 3px 6px;
		width: 98%;
	}

	.cont-title {
		line-height: 2;
		text-align: right;
	}

	.captcha {
		width: 50px;
	}

	.cont-send {
		display: inline-block;
		width: 100px;
		float: right;
		margin: -1px 0 0 0;
	}

/*Отзывы
*/

.resp-table {
	font-size: 12px;
	margin: 0 0 0 -50px;
	width: 470px;
}

.resp-block {
	margin: 55px 20px 0 40px;
	text-align: justify;
}

.resp-header {
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
}

.resp-text {
	font-size: 13px;
	padding: 14px 0 14px 28px;
}

/*Оплата и доставка*/

.payment-text {
	font-size: 14px;
	text-align: justify;
	margin: 0 20px 0 40px;
}

/*Товар*/


.menu-center-goods {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #050505;
	background: linear-gradient(to bottom, #f4f2f7, #a8aeba);
	display: block;
	height: 32px;
	margin: 5px auto;
	padding: 0;
	width: 90%;
}

.menu-center-goods a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	color: #434645;
	font-weight: bold;
	width: 20%;
	padding: 6px 0;
	font-size: 14px;
	vertical-align: top;
	white-space: nowrap !important;
	text-align: center;

}


.goods-descr-add {
	color: red;
	text-decoration: underline;
	display: block;
	font-size: 13px;
}

.btn-inverted {
	background: #e1e1e3;
	background: linear-gradient(to bottom, #575755 0%, #2a2a2a 50%, #050505 50%, #050505 100%);
	border-radius: 7px;
	border: none;
	color: white;
	display: block;
	width: 132px;
	height: 21px;
	cursor: pointer;
	margin: 5px auto;
}

.btn-inverted:hover {
	background: #e1e1e3;
	background: linear-gradient(to bottom, #050505 0%, #050505 50%, #2a2a2a 50%, #575755 100%);
}

.goods-descr-inner {
	font-size: 14px;
	line-height: 2;
}

.goods-descr-buttons {
	margin: 20px 0;
}

.descr-input {
	border: 1px solid black;
	border-radius: 4px;
	height: 20px;
	margin: 1px 0 0 6px;
	width: 160px;
	padding: 0 0 0 2px;
}

.goods-descr-inner td {
	padding: 20px 0 0 0;
	width: 50%;
}

.gallery {
	text-align: left;
	margin: 20px 40px;
}

.gallery-img {
	display: inline-block;
	border: 1px solid black;
	margin: 0 2px;
}

.goods-descr-text {
	text-align: justify;
	line-height: 1.5;
	margin: 20px 40px;
	font-size: 13px;
}

.video {
	margin: 0 0 30px 0;
	text-align: center;
}

/*Корзина 1*/

.basket-block {
	border: 10px solid #454545;
	border-radius: 10px;
	width: 770px;
}

.basket-block-inner {
	padding: 10px 15px 30px 15px;
}

.basket-close {
	display: block;
	float: right;
	vertical-align: top;
	padding: 5px;
}

.basket-inner-table {
	width: 100%;
	margin: 0 0 15px 0;
}

.basket-inner-table td {
	vertical-align: middle;
	text-align: center;
	padding: 3px 0;
}

.basket-inner-table tr {
	border-bottom: 1px solid black;
}

.basket-inner-table tr:last-child {
	border-bottom: 5px solid red;
}

.basket-goods-title {
	font-weight: bold;
	font-style: italic;
}

.price {
	font-size: 20px;
	color: red;
}

.basket-inner-buttons {
	display: inline-block;
}

.basket-inner-buttons button {
	display: inline-block !important;
	width: 145px !important;
}

.basket-av-summ {
	display: inline-block;
	float: right;
}

.av-summ-title {
	font-size: 15px;
	padding: 0 5px 0 0;
}

.av-summ {
	font-size: 20px;
	color: red;
	padding: 0 15px 0 5px;
}

/*Корзина*/

.basket-table {
	width: 100%;
	text-align: center;
	margin: 0 0 15px 0;
}


.basket-table-header {
	background: #050505;
	background: linear-gradient(to right, #050505 0%, #6e6e6e 50%, #6e6e6e 50%, #050505 100%);
}

.basket-table-header td {
	font-weight: bold;
	color: white;
	font-size: 15px;
	height: 35px;
	vertical-align: middle;
}

.basket-table-header td:first-child {
	border-left: 1px solid black;
}

.basket-table-header td:last-child {
	border-right: 1px solid black;
}


.basket-content td {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100px;
	vertical-align: middle;
	font-size: 14px;
	border: 1px solid black;
	padding: 3px 0;
}

.basket-end {
	text-align: left;
}

.basket-summ {
	display: block;
	padding: 0 0 10px 0;
	font-size: 14px;
}

.free-delivery {
	font-size: 12px;
}

.continue {
	color: red;
	text-decoration: underline;
	font-size: 12px;
	padding: 0 0 0 10px;
}

.basket-add-table {
	margin: 20px 0 20px 0;
	width: 100%;
	text-align: left;
}

.basket-add-table td {
	width: 40%;
	padding: 0 10% 0 0;
}


.basket-add-title {
	padding: 0 0 10px 0;
	font-size: 14px;
}

.add-area {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 165px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px;
}

.add-button {
	background: #e1e1e3;
	background: linear-gradient(to bottom, #e1e1e3 0%, #ebedf1 25%, #e1e3e7 50%, #bbbfc9 75%, #a9acb9 100%);
	border-radius: 7px;
	border: none;
	width: 115px;
	text-align: center;
	height: 21px;
	cursor: pointer;
}

.form-order {
	margin: 0 0 0 5px;
	text-align: left;
}

.form-order-select {
	width: 57%;
	height: 21px;
	border: none;
	border-radius: 3px;
	margin: 1px 0 0 6px;
}

.form-order-buttons {
	text-align: left;
	margin: 0 0 0 30px;
}

.form-order-buttons button {
	margin: 10px 0 0 15px;
	display: inline-block;
}




